body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0 0vw;
}

.menu h3 {
  padding-bottom: 0px;
  margin: 0 2vw;
}

.menu h4 {
  padding: 0.46rem 5vw;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: larger;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu p {
  padding: 0.46rem 5vw;
  margin-bottom: 5px;
}
