@keyframes appear {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes appear {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes appear {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  