//Header

.header-omf {
    position: sticky;
    top: 0;
    background: white;
    height: 65px;
    box-shadow: 0px 2px 4px #636363;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .header_arrow {
    color: #636363;
    font-size: 1.2rem;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

//Footer 

footer {
    background-color: #353535;
    padding: 30px 20px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1024px){
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: right;
      align-items: center;
     gap: 50px;
     padding-right: 50px;
    }
  }
    .footer__list {
      display: flex;
      gap: 10px;
      flex-direction: column;
   
     
      }


  
  
  
  
.footer a {
    text-decoration: none;
    color: #fff;
}
  
.footer__logo {
    font-family: shrikhand, cursive;
    font-size: 20px;
}
  
.footer__list {

  display: flex;
    list-style: none;
    padding: 0px;
    line-height: 2;
    @media screen and (min-width: 1024px){
      display: flex;
      flex-direction: row;
      
        }
}
  
.footer__icon {
    width: 25px;
}

