@import "_commun";


@keyframes appear {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.header-omf {
  position: sticky;
  top: 0;
  background: white;
  height: 65px;
  box-shadow: 0px 2px 4px #636363;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header_arrow {
  color: #636363;
  font-size: 1.2rem;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}



.restaurant-page-grey-background {
  position: relative;
  background-color: #ececec;
  border-radius: 45px 45px 0px 0px;
  margin-top: -50px;
  padding-bottom: 10px;
}

.restaurant-page-menu {
  margin: 0px 20px;
}

.restaurant-page-menu_title {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 27px 0;
}

.restaurant_image {
 height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center bottom;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  margin: 0;
}

.page-menu__title {
  display: block;
  content: "";
  margin-top: 5px;
  height: 3px;
  width: 40px;
}


.menu {
  display: flex;
  flex-direction: column;
  padding: 0 0vw;

  h3 {
    padding-bottom: 0px;
    margin: 0 5vw;
  }

  h4 {
    padding: 0.46rem 5vw;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: larger;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  p {
    padding: 0.46rem 5vw;
    margin-bottom: 5px;
  }
}

.linegreen {
  width: 40px;
  height: 0.25em;
  background-color: #99e2d0;
  margin: 0;
  padding: 0;
  margin-left: 5vw;
}

.menu__carte_entrees .card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}

.menu__carte_plats .card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-delay: 500ms;
}

.menu__carte_desserts .card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

.card {
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 20px 20px;
  height: fit-content;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 2000ms;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover > {
    .card__check {
      transform: translateX(0px);
      background-color: #99e2d0;
      cursor: pointer;
      color: #f6f6f6;
    }

    .card__text {
      flex: 75%;
    }
  }
}

.card__text {
  display: flex;
  flex: 100%;
  white-space: nowrap;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 700ms;
}

.card__text__description {
  flex: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
  }
}

.card__text__description__ingredients, .card__text__description__i {
  text-overflow: ellipsis;
}

.card__text__description__price {
  font-weight: bold;
}

.card__check {
  flex: 0%;
  color: #f6f6f6;
  background-color: #99e2d0;
  font-size: xx-large;
  text-align: center;
  height: 2.1em;
  line-height: 2.1em;
  white-space: nowrap;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  transform: translateX(100px);
  cursor: pointer;
  transition: all 700ms;
  padding: 0.46rem;
}

.fa-check-circle {
  transform: rotate(359deg);
  transition: transform 700ms;
}

.btn {
  width: 200px;
  align-self: center;
  margin: 2rem;
}


.omf-btn__title {
  text-align: center;
  padding-top: 15px;
  color: white;
  font-weight: bold;
  padding-top: 4px;
}

.fas {
  width: 29px;
}

footer {
  background-color: #353535;
  padding: 30px 20px;
  align-items: flex-start;
}

.footer a {
  text-decoration: none;
  color: #fff;
  width: 11px;
}

.footer__logo {
  font-family: shrikhand, cursive;
  font-size: 20px;
}

.footer__list {
  list-style: none;
  padding: 0px;
  line-height: 2;
}

  

  


  


 


  

  


  


 

